@model Todos.Models.Todo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Todo</h2>

<table border="1" cellpadding="5px">
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>@(Todos.Models.Utilities.GetCategoryName(Model.Category))</td>
    </tr>
    <tr>
        <td>Text</td>
        <td>@Model.Text</td>
    </tr>
    <tr>
        <td>Addedon</td>
        <td>@Model.AddedOn</td>
    </tr>


</table>

